<!DOCTYPE html>
<html lang="rus">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Калькулятор технологического присоединения</title>
    <link rel="stylesheet" href="magwai.css">
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="response.css">
</head>
<body>
<div class="site-body wrapper" id="calculate">
    <h1 class="title-box">{{title}}</h1>

    <div class="inform-page">
        <!-- вид заявки / категория / мощность -->
        <div id="first">
            <div class="left">
                <div class="select">
                    <select size="1" v-model="S1">
                        <option value="0" disabled selected> Вид заявки </option>
                        <option value="1">1. Постоянное присоединение</option>
                        <option value="2">2. Временное присоединение</option>
                    </select>
                </div>
                <div class="input_1">
                    <label>Заявляемая мощность
                    <input type="text" id="N" v-model="N">
                    кВт</label>
                </div>
            </div>
            <div class="right">
                <div class="input">
                    <p class="safe"> Категория надежности </p>
                    <p><label><input type="radio" name="a" value="3"> 3 – Питание от одного <span>независимого</span> источника</label></p>
                    <p><label><input type="radio" name="a" value="2" :disabled="!Conditions && N<=15"> 2 – Питание от двух <span>независимых</span> источников</label></p>
                </div>
            </div>
        </div>

        <!-- при условиях -->
        <div id="second">
            <div class="check" v-if="N<=15 && S1 == 1">
                <p><label><input type="checkbox" id="" value="check" v-model="Conditions"><span class="jq-checkbox"  v-bind:class="{ checked: Conditions }"></span> При условиях:</label></p>
                <ul>
                    <li> если в границах муниципальных районов, городских округов и на внутригородских территориях городов федерального значения одно и то же лицо может осуществить технологическое присоединение энергопринимающих устройств, принадлежащих ему на праве собственности или на ином законном основании, с платой за технологическое присоединение в размере, не превышающем 550 рублей, не более одного раза в течение 3 лет.</li>
                    <li> при технологическом присоединении энергопринимающих устройств, принадлежащих лицам, владеющим земельным участком по договору аренды, заключенному на срок не более одного года, на котором расположены присоединяемые энергопринимающие устройства;</li>
                    <li> при технологическом присоединении энергопринимающих устройств, расположенных в жилых помещениях многоквартирных домов.</li>
                </ul>
            </div>
        </div>

        <!-- класс напряжения / строительство / расчет по -->
        <div id="third">
            <div id="build" v-if="Conditions || S1 == 1 && N>15">
                <div class="select">
                    <select size="1" >
                        <option disabled selected> Класс напряжения </option>
                        <option value="0.4">0,4 кВ</option>
                        <option value="6(10)">6 (10) кВ</option>
                    </select>
                </div>
                <div class="check">
                    <p><label><input type="checkbox" value="check" v-model="Build"><span class="jq-checkbox" v-bind:class="{ checked: Build }"></span> Необходимо строительство</label></p>
                </div>
                <div class="calc">
                    <select size="1" v-model="Calculate">
                        <option value="0" disabled selected> Расчет по: </option>
                        <option value="1">Мощности</option>
                        <option value="2">Стандартизированной ставке</option>
                    </select>
                </div>
            </div>
        </div>

        <!-- по мощности -->
        <div id="forth" v-if="Conditions && Build && Calculate == 1 || S1 == 1 && N>15 && Calculate == 1">
            <p class="options">Параметры для расчета стоимости по ставке за максимальную мощность</p>
            <div class="wrap">
                <div class="source">
                    <p class="in">Строительство линий по первому источнику питания</p>
                    <div class="inner_wrap">
                        <div class="left">
                            <p><label><input type="checkbox" name="a" value="3">Воздушная линия 0,4кВ</label></p>
                            <p><label><input type="checkbox" name="a" value="3">Воздушная линия изолированная 0,4кВ</label></p>
                            <p><label><input type="checkbox" name="a" value="3">Воздушная линия 6-10кВ</label></p>
                            <p><label><input type="checkbox" name="a" value="3">Воздушная линия изолированная 6-10кВ</label></p>
                        </div>
                        <div class="right">
                            <p><label><input type="checkbox" name="a" value="3">Кабельная линия 0,4кВ</label></p>
                            <p><label><input type="checkbox" name="a" value="3">Кабельная линия 6-10кВ</label></p>
                            <p><label><input type="checkbox" name="a" value="3">Кабельная линия 0,4кВ с приминением ГНБ*</label></p>
                            <p><label><input type="checkbox" name="a" value="3">Кабельная линия 6(10)кВ с приминением ГНБ*</label></p>
                        </div>
                    </div>
                </div>
                <div class="source">
                    <p class="in">Строительство линий по второму источнику питания</p>
                    <div class="inner_wrap">
                        <div class="left">
                            <p><label><input type="checkbox" name="b" value="3">Воздушная линия 0,4кВ</label></p>
                            <p><label><input type="checkbox" name="b" value="3">Воздушная линия изолированная 0,4кВ</label></p>
                            <p><label><input type="checkbox" name="b" value="3">Воздушная линия 6-10кВ</label></p>
                            <p><label><input type="checkbox" name="b" value="3">Воздушная линия изолированная 6-10кВ</label></p>
                        </div>
                        <div class="right">
                            <p><label><input type="checkbox" name="b" value="3">Кабельная линия 0,4кВ</label></p>
                            <p><label><input type="checkbox" name="b" value="3">Кабельная линия 6-10кВ</label></p>
                            <p><label><input type="checkbox" name="b" value="3">Кабельная линия 0,4кВ с приминением ГНБ*</label></p>
                            <p><label><input type="checkbox" name="b" value="3">Кабельная линия 6(10)кВ с приминением ГНБ*</label></p>
                        </div>
                    </div>
                </div>
                <div class="source">
                    <p class="in_2 check">
                        <label>
                            <input type="checkbox" value="check" v-model="BuildTP">
                            <span class="jq-checkbox" v-bind:class="{ checked: BuildTP }"></span> Строительство ТП
                        </label>
                    </p>
                    <div class="inner_wrap">
                        <div class="left">
                            <p><label><input type="radio" name="a" value="3" :disabled="!BuildTP">Строительство ТП-6(10) кВ 25 кВА</label></p>
                            <p><label><input type="radio" name="a" value="3" :disabled="!BuildTP">Строительство ТП-6(10) кВ 40 кВА</label></p>
                            <p><label><input type="radio" name="a" value="3" :disabled="!BuildTP">Строительство ТП-6(10) кВ 63 кВА</label></p>
                            <p><label><input type="radio" name="a" value="3" :disabled="!BuildTP">Строительство ТП-6(10) кВ 100 кВА</label></p>
                            <p><label><input type="radio" name="a" value="3" :disabled="!BuildTP">Строительство ТП-6(10) кВ 160 кВА</label></p>
                            <p><label><input type="radio" name="a" value="3" :disabled="!BuildTP">Строительство ТП-6(10) кВ 250 кВА</label></p>
                            <p><label><input type="radio" name="a" value="3" :disabled="!BuildTP">Строительство ТП-6(10) кВ 400 кВА</label></p>
                        </div>
                        <div class="right">
                            <p><label><input type="radio" name="a" value="3" :disabled="!BuildTP">Строительство ТП-6(10) кВ 630 кВА</label></p>
                            <p><label><input type="radio" name="a" value="3" :disabled="!BuildTP">Строительство ТП-6(10) кВ 2x160 кВА</label></p>
                            <p><label><input type="radio" name="a" value="3" :disabled="!BuildTP">Строительство ТП-6(10) кВ 2x250 кВА</label></p>
                            <p><label><input type="radio" name="a" value="3" :disabled="!BuildTP">Строительство ТП-6(10) кВ 2x400 кВА</label></p>
                            <p><label><input type="radio" name="a" value="3" :disabled="!BuildTP">Строительство ТП-6(10) кВ 2x630 кВА</label></p>
                            <p><label><input type="radio" name="a" value="3" :disabled="!BuildTP">Строительство ТП-6(10) кВ 2x1000 кВА</label></p>
                            <p><label><input type="radio" name="a" value="3" :disabled="!BuildTP">Строительство ТП-6(10) кВ 2x1250 кВА</label></p>
                        </div>
                    </div>
                </div>
                <p class="bottom"><b>*ГНБ -</b> Горизонтальное бурение или Горизонтальное направленное бурение — управляемый бестраншейный <br>
                    метод прокладывания подземных коммуникаций, основанный на использовании специальных буровых <br>
                    комплексов.</p>
            </div>
        </div>

        <!-- по стандартизированной ставке -->
        <div id="forth_2" v-if="Conditions && Build && Calculate == 2 || S1 == 1 && N>15 && Calculate == 2">
                <p class="options">Параметры для расчета стоимости по стандартизированной ставке</p>
            <div class="index">
                <p>Индекс изменения сметной стоимости за:</p>
                <div class="sqrt">3</div>
                <p class="quart">квартал</p>
            </div>
            <div class="source">
                <div class="select">
                    <select>
                        <option value="0" disabled selected> Выберите тип линии </option>
                        <option value="1">Воздушная линия 0,4кВ</option>
                        <option value="2">Воздушная линия изолированная 0,4кВ</option>
                        <option value="3">Воздушная линия 6-10кВ</option>
                        <option value="4">Воздушная линия изолированная 6-10кВ</option>
                        <option value="5">Кабельная линия 0,4кВ</option>
                        <option value="6">Кабельная линия 6-10кВ</option>
                        <option value="7">Кабельная линия 0,4кВ с приминением ГНБ*</option>
                    </select>
                </div>
                <div class="long">
                    <input type="text" placeholder="длина"> <span>км</span>
                    <div class="index">
                        <p>Индекс</p>
                        <div class="sqrt">4.95</div>
                    </div>
                </div>
            </div>
            <button>Добавить линию</button>


            <p class="bottom"><b>*ГНБ -</b> Горизонтальное бурение или Горизонтальное направленное бурение — управляемый бестраншейный <br>
                    метод прокладывания подземных коммуникаций, основанный на использовании специальных буровых <br>
                    комплексов.</p>
        </div>

        <div class="block" v-if="Conditions && Build && Calculate == 2 || S1 == 1 && N>15 && Calculate == 2">
            <div class="source">
                <p class="in_2 check">
                    <label>
                        <input type="checkbox" value="check" v-model="BuildTP">
                        <span class="jq-checkbox" v-bind:class="{ checked: BuildTP }"></span> Строительство ТП
                    </label>
                </p>
                <div class="inner_wrap">
                    <div class="left">
                        <p><label><input type="radio" name="a" value="3" :disabled="!BuildTP">Строительство ТП-6(10) кВ 25 кВА</label></p>
                        <p><label><input type="radio" name="a" value="3" :disabled="!BuildTP">Строительство ТП-6(10) кВ 40 кВА</label></p>
                        <p><label><input type="radio" name="a" value="3" :disabled="!BuildTP">Строительство ТП-6(10) кВ 63 кВА</label></p>
                        <p><label><input type="radio" name="a" value="3" :disabled="!BuildTP">Строительство ТП-6(10) кВ 100 кВА</label></p>
                        <p><label><input type="radio" name="a" value="3" :disabled="!BuildTP">Строительство ТП-6(10) кВ 160 кВА</label></p>
                        <p><label><input type="radio" name="a" value="3" :disabled="!BuildTP">Строительство ТП-6(10) кВ 250 кВА</label></p>
                        <p><label><input type="radio" name="a" value="3" :disabled="!BuildTP">Строительство ТП-6(10) кВ 400 кВА</label></p>
                    </div>
                    <div class="right">
                        <p><label><input type="radio" name="a" value="3" :disabled="!BuildTP">Строительство ТП-6(10) кВ 630 кВА</label></p>
                        <p><label><input type="radio" name="a" value="3" :disabled="!BuildTP">Строительство ТП-6(10) кВ 2x160 кВА</label></p>
                        <p><label><input type="radio" name="a" value="3" :disabled="!BuildTP">Строительство ТП-6(10) кВ 2x250 кВА</label></p>
                        <p><label><input type="radio" name="a" value="3" :disabled="!BuildTP">Строительство ТП-6(10) кВ 2x400 кВА</label></p>
                        <p><label><input type="radio" name="a" value="3" :disabled="!BuildTP">Строительство ТП-6(10) кВ 2x630 кВА</label></p>
                        <p><label><input type="radio" name="a" value="3" :disabled="!BuildTP">Строительство ТП-6(10) кВ 2x1000 кВА</label></p>
                        <p><label><input type="radio" name="a" value="3" :disabled="!BuildTP">Строительство ТП-6(10) кВ 2x1250 кВА</label></p>
                    </div>
                </div>
            </div>
            <p></p>
        </div>
        <!-- Расчет -->
        <div id="fifth">
            <div class="button">
                   <!-- <button>Рассчитать стоимость <span>технологического присоединения</span></button> -->
            </div>
            <div class="result">
                <p>Результаты:</p>
                <div class="total">
                    <div class="wr_score">
                        <p>Итог по ставке за максимальную мощность (руб./кВт)</p>
                        <p class="score">0,00 руб.</p>
                    </div>
                    <div class="wr_score">
                        <p>Итог по стандартизированной ставке (руб./км)</p>
                        <p class="score">0,00 руб.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://unpkg.com/vue@2.4.2"></script>
<script>
    var app = new Vue({
        el: '#calculate',
        data: {
            title: 'КАЛЬКУЛЯТОР ТЕХНОЛОГИЧЕСКОГО ПРИСОЕДИНЕНИЯ',
            S1: 1,             //вид заявки (1 - постоянное, 2 - временное)
            N: 0,               //заявленная мощность
            Conditions: true,   //признак условия
            Build: false,       //необходимо строительство
            BuildTP: false,
            Calculate: 0,       //расчет по power-мощности, standart-стандартизированной
        }
    })
</script>
</body>
</html>