.body {
    position: relative;
    background: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #7d7d7d;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.site-body {
    width: 1200px;
    height: 1390px;
    margin: 0 auto;
    position: relative;
    padding: 80px 10px 85px 10px;
}

.title-box {
    position: relative;
    font-size: 30px;
    font-weight: 800;
    color: #282828;
    line-height: 1;
    text-transform: uppercase;
    font-family: 'Raleway';
    line-height: 1.2;
}

.title-box:after {
    display: block;
    content: '';
    width: 56px;
    height: 4px;
    background: #277ddd;
    margin-top: 22px;
}

.inform-page {
    margin-top: 45px;
    width: 1200px;
    height: 1290px;
    background: #e7eff6;
}

#first {
    position: relative;
    width: 500px;
    height: 400px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

select {
    font-size: 16px;
    border: #59778c 1px solid;
    padding: 10px;
}

.input {
    border: #59778c 1px solid;
    padding: 15px;
    background: white;
}

.input span {
    font-size: 16px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    color: #0d3959;

}

.check input {
    vertical-align: bottom;
    display: inline-block;
    width:19px;
    height:19px;


}
.check p {
    font-size: 16px;
    font-weight: bold;
    color: #0d3959;
    margin: 0;
}








